@import "@fontsource/fira-mono";

/* public/style.css */
.container {
  max-width: 100%;
  padding: 1rem;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.text-xl {
  font-size: 1.25rem;
}

.font-semibold {
  font-weight: 600;
}

.block {
  display: block;
}

.mt-4 {
  margin-top: 1rem;
}

.w-full {
  width: 100%;
}

.h-24 {
  height: 6rem;
}

.p-2 {
  padding: 0.5rem;
}

.border {
  border: 1px solid #ccc;
}

.rounded {
  border-radius: 0.25rem;
}

.mt-8 {
  margin-top: 2rem;
}
